.thumbnail-container {
  width: 50%;
  max-width: 400px;
  max-height: 666px;
  position: relative;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;

   .thumbnail {
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: box-shadow .2s ease-in-out;
    &:hover {
      box-shadow: 0px 5px 7px #E1E9EA;
    }

    img {
      display: block;
      max-height: 330px;
      margin: 0 auto;
    }
    .caption {
      padding: 3px 0;
      border-top: 1px solid #FAFAFA;
      color: #5A5A5A;
    }
   }
}